body,html{margin:0;padding:0;}
/* main {
    width: 100vw;
    margin: 0 auto;
} */
body {
    margin: 0 auto;
    overflow-x: hidden;
    height: 100%;
    perspective: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* max-width: 1280px; */
}
header {
    width: 1280px;
    height: 600px;
    box-sizing: border-box;
}
.header {
    display: flex;
    font-size: 36px;
    background-color: #FFFFFF;
    text-align: center;
    justify-content: space-around;
    transform: translateZ(0);
    color: black;
    height: 112px;
    margin-top: -80px;
    width: 100vw;
}
.name {
    color: #14AFCA;
    font-weight: 700;
}
.invisible {
    margin: 0;
    /* padding-bottom: 30px; */
}
.tabs {
    display: flex;
    text-transform: uppercase;
    font-size: 15px;
    justify-content: space-between;
    width: 565px;
    color: #3E4C4E;
    font-weight: 700;
}
.tabs > p {
    margin-top: 50px;
}
.tabs > p:hover {
    cursor: pointer;
}
.home {
    color: #14AFCA;
}

.titl {
    color: #FFFFFF;
    font-size: 52px;
    text-align: center;
    margin-top: 140px;
    text-transform: uppercase;
    font-weight: 700;
}
.titl > p {
    margin: auto;
}
.dark {
    position: relative;
    bottom: 170px;
    width: 100%;
}
.wrapper {
  /* The height needs to be set to a fixed value for the effect to work.
   * 100vh is the full height of the viewport. */
  height: 100vh;
  width: 100vw;
  /* The scaling of the images would add a horizontal scrollbar, so disable x overflow. */
  overflow-x: hidden;
  /* Enable scrolling on the page. */
  overflow-y: auto;
  /* Set the perspective to 2px. This is essentailly the simulated distance from the viewport to transformed objects.*/
  perspective: 2px;
}

.section {
  /* Needed for children to be absolutely positioned relative to the parent. */
  position: relative;
  /* The height of the container. Must be set, but it doesn't really matter what the value is. */
  /* height: 700px; */
  
  /* For text formatting. */
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  width: 100vw;
  border: none;
  /* text-shadow: 0 0 5px #000; */
}

.parallax::after {
  /* Display and position the pseudo-element */
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  
  /* Move the pseudo-element back away from the camera,
   * then scale it back up to fill the viewport.
   * Because the pseudo-element is further away, it appears to move more slowly, like in real life. */
  transform: translateZ(-1px) scale(2);
  /* Force the background image to fill the whole element. */
  background-size: 100%;
  /* Keep the image from overlapping sibling elements. */ 
  z-index: -1;
}

/* The styling for the static div. */
.static {
  background: #ffffff;
  text-align: center;
}

/* Sets the actual background images to adorable kitties. This part is crucial. */
.bg1::after {
  background-image: url(../images/Layer1.png);
  background-size: cover;
}
.bg2::after {
  background-image: url(../images/Layer2.png);
  background-size: cover;
}
.bg3::after {
    background-image: url(../images/Layer3.png);
    background-size: cover;
  }
.what {
    background-color: #FFFFFF;
    height: 300px;
    text-align: center;
    padding-top: 100px;
}
.titl_what {
    font-size: 60px;
    color: #14AFCA;
    margin: 0px auto;
}
.undertitl {
    color: #424F57;
    font-size: 18px;
    margin: 0px auto;
    font-weight: 700;
}
.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}
.lorem {
    padding-top: 42px;
    color: #4F5B62;
    margin-bottom: 100px;
    line-height: 30px;
}
.companies {
    height: 720px;
    text-align: center;
}
.titl_companies {
    margin: 0 auto;
    color: #14AFCA;
    font-size: 60px;
    padding-top: 136px;
    font-weight: 700;
}
.undertitl_companies {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
}
.marks {
    display: grid;
    max-width: 1000px;
    margin: 50px auto;
    grid-template-areas: 
    "mark1 mark2 mark3 mark4"
    "mark5 mark6 mark7 mark8";
}
.marks > div {
    margin-right: 55px;
    margin-bottom: 122px;
}
.mark1 {
    grid-area: mark1;
}
.mark2 {
    grid-area: mark2;
    background-color: #FCFBFB;
}
.mark3 {
    grid-area: mark3;
}
.mark4 {
    grid-area: mark4;
}
.mark5 {
    grid-area: mark5;
}
.mark6 {
    grid-area: mark6;
}
.mark7 {
    grid-area: mark7;
}
.mark8 {
    grid-area: mark8;
}
.meet {
    text-align: center;
}
.titl_meet {
    color: #2EB8D0;
    font-size: 60px;
    font-weight: 700;
    margin: 0 auto;
    margin-top: 93px;
    margin-bottom: 27px;
    display: block;
}
.undertitl_meet {
    color: #576269;
    font-size: 18px;
    margin: 0 auto;
    font-weight: 700;
    display: block;
}
.our_workers {
    display: grid;
    grid-gap: 86px;
    max-width: 1010px;
    margin: 0 auto;
    margin-top: 47px;
    margin-bottom: 122px;
    grid-template-areas: 
    "work1 work2 work3";
}
.work1 {
    grid-area: work1;
    color: #424F57;
}
.work2 {
    grid-area: work2;
    color: #424F57;
}
.work3 {
    grid-area: work3;
    color: #424F57;
}
.our_workers > div > p {
    margin-top: 27px;
    font-size: 15px;
    line-height: 30px;
}
.our_workers > div {
    width: 279px;
    height: 330px;
}
.title {
    width: 100vw;
}
.testimonials {
    height: 580px;
    text-align: center;
}
.titl_testimonials {
    color: #14AFCA;
    font-size: 60px;
    margin: 0 auto;
    font-weight: 700;
}
.undertitl_testimonials {
    color: #FFFFFF;
    font-size: 18px;
    margin: 27px auto;
    margin-bottom: 0px;
    font-weight: 700;
}
.lorem2 {
    color: #C7C1C1;
    font-size: 16px;
    padding-top: 42px;
    margin: 0 auto;
    line-height: 30px;
}
.avtor {
    color: #FFFFFF;
    margin: 0px;
    margin-right: 100px;
    padding-top: 23px;
    margin-left: 621px;
    font-size: 18px;
}
.conteiner2 {
    max-width: 900px;
    margin: 0 auto;
}
.why {
    text-align: center;
}
.titl_why {
    color: #14AFCA;
    font-size: 60px;
    padding-top: 114px;
    margin: 0 auto;
    font-weight: 700;
}
.undertitl_why {
    color: #424F57;
    font-size: 18px;
    padding-top: 27px;
    margin: 0px;
    font-weight: 700;
}
.innovation {
    color: #424F57;
    font-size: 30px;
    padding-top: 55px;
    font-weight: 700;
    margin: 0 auto;
}
footer {
    margin: 0 auto;
    width: 386px;
    margin-top: 113px;
    margin-bottom: 104px;
    line-height: 30px;
}
.conteiner3 {
    max-width: 980px;
    margin: 0 auto;
}
.pol {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 50vw;
    height: 600px;
    clip-path: polygon(0vw 500px, 50vw 600px, 0vw 600px);
    background-color: rgba(255, 255, 255, 1);
}
.sec_pol {
    position: absolute;
    top: 2px;
    left: 50vw;
    width: 50%;
    height: 600px;
    clip-path: polygon(0 600px, 50vw 500px, 50vw 600px);
    background-color: rgba(255, 255, 255, 1);
}
.pol2 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 50vw;
    height: 80px;
    clip-path: polygon(0 0, 50vw 0, 50vw 80px);
    background-color: rgba(255, 255, 255, 1);
}
.sec_pol2 {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 80px;
    clip-path: polygon(0 0px, 50vw 0px, 0px 80px);
    background-color: rgba(255, 255, 255, 1);
}
.pol2_2 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 50vw;
    height: 720px;
    clip-path: polygon(0 640px, 50vw 720px, 0 720px);
    background-color: rgba(255, 255, 255, 1);
}
.sec_pol2_2 {
    position: absolute;
    top: 2px;
    left: 50vw;
    width: 50vw;
    height: 720px;
    clip-path: polygon(0 720px, 50vw 640px, 50vw 720px);
    background-color: rgba(255, 255, 255, 1);
}
.pol3 {
    position: absolute;
    top: 0;
    left: 0px;
    width: 50vw;
    height: 80px;
    clip-path: polygon(0 0px, 50vw 80px, 50vw 0px);
    background-color: rgba(255, 255, 255, 1);
}
.sec_pol3 {
    position: absolute;
    top: 0;
    left: 50vw;
    width: 50vw;
    height: 720px;
    clip-path: polygon(0 80px, 50vw 0px, 0px 0px);
    background-color: rgba(255, 255, 255, 1);
}
.pol3_2 {
    position: absolute;
    top: 2px;
    left: 0px;
    width: 50vw;
    height: 580px;
    clip-path: polygon(0 500px, 50vw 580px, 0 580px);
    background-color: rgba(255, 255, 255, 1);
}
.sec_pol3_2 {
    position: absolute;
    top: 2px;
    left: 50vw;
    width: 50vw;
    height: 580px;
    clip-path: polygon(0 580px, 50vw 500px, 50vw 580px);
    background-color: rgba(255, 255, 255, 1);
}
footer {
    color: #575656;
}
footer > span {
    color: black;
}
.dark1 {
    position: absolute;
    top: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 600px;
    width: 100vw;
    clip-path: polygon(0 -2px, 100vw -2px, 100vw 500px, 50vw 600px, 0px 500px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.dark2 {
    position: absolute;
    top: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 720px;
    width: 100vw;
    clip-path: polygon(0 -2px, 50vw 78px, 100vw -2px, 100vw 640px, 50vw 720px, 0px 640px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.dark3 {
    position: absolute;
    top: 2px;
    right: 0;
    left: 0;
    bottom: 0;
    height: 580px;
    width: 100vw;
    clip-path: polygon(0 -2px, 50vw 78px, 100vw  -2px, 100vw 500px, 50vw 580px, 0px 500px);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 0;
}
.content4 {
    z-index: 3;
}